## Test Report

### Summary

| Metric | Value |
| --- | --- |
| Total | 136 |
| Passed | 136 |
| Failed | 0 |
| Skipped | 0 |
| Coverage | 86.49% |
| Threshold | 0.00% |

### Packages

| Package | Status | Tests | Failed | Coverage |
| --- | --- | --- | --- | --- |
| . | pass | 17 | 0 | 100.00% |
| collapse | pass | 10 | 0 | 100.00% |
| converter | pass | 15 | 0 | 75.80% |
| examples/basics | pass | 1 | 0 | 20.00% |
| examples/options | pass | 1 | 0 | 33.33% |
| examples/plugins | pass | 1 | 0 | 33.33% |
| examples/reader | pass | 1 | 0 | 33.33% |
| examples/register | pass | 2 | 0 | 76.47% |
| internal/domutils | pass | 35 | 0 | 85.47% |
| internal/escape | pass | 16 | 0 | 97.85% |
| internal/tester | pass | 3 | 0 | 16.00% |
| internal/textutils | pass | 9 | 0 | 97.56% |
| marker | no\_tests | 0 | 0 | 0.00% |
| plugin/base | pass | 1 | 0 | 100.00% |
| plugin/commonmark | pass | 8 | 0 | 90.02% |
| plugin/strikethrough | pass | 3 | 0 | 97.14% |
| plugin/table | pass | 13 | 0 | 97.68% |
